{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-underscore-dangle": ["error", {}],
    "no-plusplus": "off",
    "no-console": "off",
    "camelcase": "off",
    "strict": "off"
  }
}
